.Basic-card{
  width: 900px;
  height: 600px;
  border: 1px solid #aaa;
  margin: auto;
  position: relative;
}
.red-part{
  width: 300px;
  height: 600px;
  background-color: #FF5151;
  margin-left: auto;
}
.red-trangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 300px 600px 0;
  border-color: transparent#FF5151 transparent transparent;
  position: absolute;
  top: 0;
  right: 300px;
}
.taipei101{
  width: 800px;
  height: 400px;
  position: absolute;
  top: 100px;
  left: 50px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);

}
img{
  width: 100%;
  height: 100%;
}
.white-inside{
  width: 300px;
  height: 400px;
  position: absolute;
  z-index: 2;
  background-color: white;
  top: 0px;
  display: flex;
  align-items: center;
}
.context-photo{
  height: 150px;
}
.red-inside{
  width: 320px;
  height: 400px;
  position: absolute;
  background-color: #FF5151;
  top: 0px;
}
.red-trangle-inside{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 400px 0 0 200px;
  border-color: transparent transparent transparent #FF5151;
  position: absolute;
  top: 0;
  z-index: 1;
  left: 320px;
}
.white-trangle-inside{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 400px 0 0 200px;
  border-color: transparent transparent transparent #ffffff;
  position: absolute;
  top: 0;
  z-index: 4;
  left: 300px;
}
.post-stickers{
  width: 60px;
  height: 80px;
  background-color: #FF5151;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 10px;
}
.post-stickers-inside{
  width: 45px;
  height: 60px;
  background-color: white;
}
span{
  width: 100px;
  position: absolute;
  bottom: 30px;
  right: 100px;
}